In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
df=pd.read_csv("C:/Users/venkat/Desktop/CSE/IDS/Project/dataset.csv")
df.corr()

                Calendar Year  Receipt Amount  Amount in USD
Calendar Year        1.000000        0.015272       0.036902
Receipt Amount       0.015272        1.000000      -0.036916
Amount in USD        0.036902       -0.036916       1.000000

In [2]:
df.corr(method='pearson')

                Calendar Year  Receipt Amount  Amount in USD
Calendar Year        1.000000        0.015272       0.036902
Receipt Amount       0.015272        1.000000      -0.036916
Amount in USD        0.036902       -0.036916       1.000000

In [3]:
df.corr(method='kendall')

                Calendar Year  Receipt Amount  Amount in USD
Calendar Year        1.000000        0.040271       0.018732
Receipt Amount       0.040271        1.000000       0.639677
Amount in USD        0.018732        0.639677       1.000000

In [4]:
df.corr(method='spearman')

                Calendar Year  Receipt Amount  Amount in USD
Calendar Year        1.000000        0.065550       0.030165
Receipt Amount       0.065550        1.000000       0.703762
Amount in USD        0.030165        0.703762       1.000000